<!DOCTYPE HTML>
<html>
<head>
  <title>R餐厅</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css" />
  <style>
    html {
      height: 100%;
    }
    body {
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      background: #f7f7f7;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      height: 100%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none
    }
    p {
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      opacity: 0.5
    }
    .bottom-tabs {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #ddd;
      color: #fff;
    }
    .bottom-tabs > div {
      flex: 1;
      display: flex;
      border-right: 1px solid #fff;
      height: 50px;
      align-items: center;
      justify-content: center;
    }
    .bottom-tabs > div:last-child {
      border-right: 0;
    }
    .bottom-tabs > div.active {
      background: #ccc
    }
    .tabview {
      padding: 10px 20px;
    }
    .hide {
      display: none;
    }
  </style>
</head>
<body>
  <div id="tab1" class="tabview tabview1">
    <p>感谢您对R餐厅的关注，R餐厅的大厨目前正在进行技术培训，如您对我们正在做的事情感兴趣，欢迎联系我们～</p>
    <p style="padding-top: 20px">联系邮箱：276807334@qq.com</p>
  </div>
  <div id="tab2" class="tabview tabview2 hide">热门菜单</div>
  <div id="tab3" class="tabview tabview3 hide">菜单分类详情</div>
  <div id="tab4" class="tabview tabview4 hide">关于我们的最新资讯</div>
  <div class="bottom-tabs">
    <div class="active" data-index="1">首页</div>
    <div data-index="2">热门</div>
    <div data-index="3">分类</div>
    <div data-index="4">资讯</div>
  </div>
  <script type="text/javascript">
    var currentActiveTab = 1
    function addClass(ele, cls) {
      if(ele.className.indexOf(cls) === -1) {
        ele.className += ' ' + cls
      }
    }
    function removeClass(ele, cls) {
      if(ele.className.indexOf(cls) !== -1) {
        ele.className = ele.className.replace(cls, '')
      }
    }
    var tabviews = document.querySelectorAll('.tabview')
    var tabs = document.querySelectorAll('.bottom-tabs > div')
    var bottomTabView = document.querySelector('.bottom-tabs')
    // addClass(bottomTabView)
    bottomTabView.onclick = function(e) {
      // console.log(e.target.dataset)
      for(var i = 0; i < tabs.length; i++) {
        removeClass(tabs[i], 'active')
        addClass(tabviews[i], 'hide')
      }
      addClass(e.target, 'active')
      removeClass(tabviews[e.target.dataset.index - 1], 'hide')
    }
  </script>
</body>
</html>